<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Curriculum Vitae - {{ name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet/less" type="text/css" href="style.less">
    <script type="text/javascript" src="less-1.4.1.min.js"></script>

    <!--

    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27007508-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type =
                    'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
                    'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

    -->

    {% endblock head %}
</head>
<body>


<div class="pure-g-r" id="layout">
    <div class="sidebar pure-u">
        <header class="header">
            <img src="cv_image.jpg" title="Picture of {{ name }}" />
            <hgroup>
                {% block header %}
                <h1 class="brand-title">{{ name }}</h1>

                <h2 class="brand-tagline">Curriculum Vitae</h2>

                <p class="contact">{{ contact }}</p>
                {% endblock header %}
            </hgroup>

            <nav class="nav">
                {% block navigation %}
                {% for heading in navigation.headings %}
                <ul class="nav-list">
                    {% for section in navigation[heading] %}
                    <li>
                        <a href="#{{ section.id }}">
                            {{ section.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
                {% endblock navigation %}
            </nav>
        </header>
    </div>

    <div class="pure-u-1">
        <div class="content">

            {% for item in sections %}

            {% if item.type == "page-break" %}
            <div class="break"></div>
            {% endif %}

            {% if item.type == "heading" %}
            <h1 class="content-subhead" id="{{ item.id }}">{{ item.title
                }}</h1>
            {% endif %}

            {% if item.type == "normal" %}
            <div class="sections" id="{{ item.id }}">
                <section class="section">
                    <header class="section-header">
                        <h2 class="section-title">{{ item.title }}</h2>
                    </header>

                    <div class="section-description">
                        {% if "fields" in item %}
                        {% for field in item["fields"] %}
                        <div class="pure-g-r fields">
                            <div class="pure-u-1-3 label">
                                {{ field.label }}
                            </div>
                            <div class="pure-u-2-3 value">
                                {{ field.value }}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if "large" in item %}
                        {{ item.large }}
                        {% endif %}
                    </div>
                </section>
            </div>
            {% endif %}

            {% endfor %}


            <footer class="footer">
                {% block footer %}
                <ul>
                    <li>
                        Generated with
                        <a href="https://github.com/lietu/pyhtmlcv"
                           title="PyHtmlCv by Janne Enberg aka. Lietu">
                            PyHtmlCv
                        </a>
                        and using
                        <a href="http://purecss.io/">
                            Pure
                        </a>
                    </li>
                    <li>Updated {{ now }}</li>
                    <li>Copyright &copy; 2013 - {{ year }} {{ name }}</li>
                </ul>
                {% endblock footer %}
            </footer>
        </div>
    </div>
</div>


</body>
</html>
